* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

html {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p {
  line-height: 1.5;
  margin: 0.25rem 0;
}

button {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/
button {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
button {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Set the default cursor for buttons.
*/
button,
[role="button"] {
  cursor: pointer;
}

img {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.painting-blurb {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #611117;
  color: #eee5bc;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 80vw;
  max-height: 80vh;
  transition: all 0.3s ease;
  opacity: 0;
  z-index: -1;
}

.painting-blurb.active {
  opacity: 1;
  z-index: 5;
}

.painting-description {
  flex-shrink: 0;
}

.painting-image {
  min-width: 0;
  object-fit: contain;
}

.painting-date {
  font-style: italic;
}

.close-btn {
  position: absolute;
  top: 0.25rem;
  right: 0.75rem;
  background: none;
  border: none;
  color: inherit;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1;
  transition: opacity 0.3s ease;
}

.close-btn:hover {
  opacity: 0.5;
}

.mute-btn {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background: none;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.mute-btn:hover {
  opacity: 0.5;
}

.mute-btn[data-muted="false"] .volume-up {
  display: block;
}

.mute-btn[data-muted="false"] .volume-muted {
  display: none;
}

.mute-btn[data-muted="true"] .volume-up {
  display: none;
}

.mute-btn[data-muted="true"] .volume-muted {
  display: block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media (min-width: 768px) {
  .painting-blurb {
    padding: 2rem;
    flex-direction: row;
    gap: 1.5rem;
    max-width: 64rem;
    max-height: 32rem;
  }

  .painting-description {
    min-width: 16rem;
  }

  .mute-btn {
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
  }
}
